# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Log files
*.log
logs/
serverlogs/
mitmlogs/

# Virtual environments
.venv/
my_venv/    

# VS Code settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db
